body {
    margin: 0;
}

.filter-bar {
    background-color: rgb(139, 133, 133);
    position: fixed;
    height: 100vh;
    margin-left: -400px;
    width: 300px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    .close {
        text-align: right;
        padding: 20px;
        img {
            cursor: pointer;
        }
    }
    .filter-item {
        margin-top: 4rem;
        p {
            margin: 0px;
            font-size: 20px;
            letter-spacing: 2px;
            padding: 15px 10px;
            cursor: pointer;
            transition: all .5s linear;
            -webkit-transition: all .5s linear;
            -moz-transition: all .5s linear;
            -ms-transition: all .5s linear;
            -o-transition: all .5s linear;
        }
        p:hover {
            background-color: rgb(95, 214, 95);
            border-width: 2px;
        }
    }
    .clear {
        position: fixed;
        bottom: 0px;
        background-color: rgb(231, 41, 41);
        width: 300px;
        p {
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
    }
}

.show {
    margin-left: 0px;
}