.to-do-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    div {
        text-align: center;
        input,
        button {
            font-size: 18px;
        }
        input[type="text"] {
            width: 90%;
            padding: 10px 10px;
            border: 1px solid #ccc;
        }
        input[type="text"]:focus {
            background: #ffd7d7;
            border-color: red;
        }
        button {
            width: 7rem;
            padding: 10px 20px;
            text-align: center;
            margin: 10px;
            cursor: pointer;
        }
        button:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        .submit {
            background: #8c185d;
            color: #fff;
        }
        .submit:hover {
            background: transparent;
            border-color: #8c185d;
            color: #8c185d;
        }
        .clear {
            background: transparent;
            color: red;
        }
        .clear:hover {
            background: #8c185d;
            color: #fff;
        }
    }
}

.to-do-form.invalid {
    input {
        border-color: red !important;
    }
}

@media only screen and (min-width: 768px) {
    .to-do-form {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .btns button {
            width: 11rem;
        }
    }
}